



.menu {
  display: block;
  text-indent: -9999px;
}

.menu::before, .menu > .center, .menu::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-fourth);
  border-radius: 2px;
}

.menu::before, .menu > .center {
  margin-bottom: 4px;
}

