.card-game {
  padding: 15px;
}

.hashtag {
  height: 100%;
  display: grid;
  background-color: var(--color-third);
  grid-template-columns: 1fr 1fr 1fr; /*1fr= 1 fração */
  grid-template-rows: 1fr 1fr 1fr;
  
  
}

.hashtag > .item {
  background-color: var(--color-zero);
  display: flex;
  justify-content: center;
}

.hashtag > .item:nth-child(2),
.hashtag > .item:nth-child(8) {
  justify-content: space-between;
}

.hashtag > .item:nth-child(4),
.hashtag > .item:nth-child(6) {
  flex-direction: column;
  justify-content: space-between;
}

.hashtag > .item:nth-child(5) {
  border: 4px solid var(--color-third);
}

.hashtag > .item:nth-child(2)::before,
.hashtag > .item:nth-child(2)::after,
.hashtag > .item:nth-child(4)::before,
.hashtag > .item:nth-child(4)::after,
.hashtag > .item:nth-child(6)::before,
.hashtag > .item:nth-child(6)::after,
.hashtag > .item:nth-child(8)::before,
.hashtag > .item:nth-child(8)::after {
  content: '';
  background-color: var(--color-third);
}

.hashtag > .item:nth-child(2)::before,
.hashtag > .item:nth-child(2)::after,
.hashtag > .item:nth-child(8)::before,
.hashtag > .item:nth-child(8)::after {
  width: 4px;
  height: 100%;
}

.hashtag > .item:nth-child(4)::before,
.hashtag > .item:nth-child(4)::after,
.hashtag > .item:nth-child(6)::before,
.hashtag > .item:nth-child(6)::after {
  width: 100%;
  height: 4px; 
}

.hashtag > .item:nth-child(2)::before,
.hashtag > .item:nth-child(2)::after {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.hashtag > .item:nth-child(4)::before,
.hashtag > .item:nth-child(4)::after {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.hashtag > .item:nth-child(6)::before,
.hashtag > .item:nth-child(6)::after {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; 
}

.hashtag > .item:nth-child(8)::before,
.hashtag > .item:nth-child(8)::after {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}