.card {
  padding: 15px;
}

.hashtag {
  height: 100%;
  display: grid;
  background-color: var(--color-third);
  grid-template-columns: 1fr 1fr 1fr; /*1fr= 1 fração */
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap:3px;
  grid-row-gap: 4px;
  
}

.hashtag > .item {
  background-color: var(--color-zero);
  display: flex;
  justify-content: center;
}