
.icon-close {
  display: inline-block;
  position: relative;
  width: 23px;
  height: 23px;
}
.icon-close::before,
.icon-close::after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 4px;
  
  background-color: var(--color-zero);
  border-radius: 2px;
  position: absolute;
  top: -1px;
}

.icon-close::before { 
  left: 2px;
  transform: rotate(45deg);
  transform-origin: left top;

}

.icon-close::after {
  right: 2px;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.icon-close > .content {
  text-indent: -99999px;
  display: inline-block;
}