

.action {
  
  color: #707070;
  /*font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;*/
  font: bold 14px 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;

}

